path {
    stroke: white;
    stroke-width: 1px;
}

.parameters {
    width: 50%;
}

.visualization {
  float: left;
}

.inner-container {
    float: right;
    padding-top: 24px;
}

#tooltip-container {
  position: absolute;
  background-color: #e5e5e5;
  color: #000000;
  padding: 10px;
  border: none;
  display: none;
}

div.tooltip {
    position: absolute;
    left: 75px;
    text-align: center;
    height: 16px;
    padding: 10px;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #989898;
    pointer-events: none;
}